<p id="notice"><%= notice %></p>

<h1>Listing Reward Tiers</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reward_tiers.each do |reward_tier| %>
      <tr>
        <td><%= reward_tier.name %></td>
        <td><%= link_to 'Show', reward_tier %></td>
        <td><%= link_to 'Edit', edit_reward_tier_path(reward_tier) %></td>
        <td><%= link_to 'Destroy', reward_tier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reward tier', new_reward_tier_path %>
